<div class="poster col-md-5 no-padding hidden-sm hidden-xs">
    <img src="~/Content/Images/@ViewBag.Movie.PosterPath" alt="" />
</div>

<div class="col-md-7 col-xs-12 col-sm-12 no-padding pull-right">

    <div class="col-xs-12 top">
        <h1>@ViewBag.Movie.Title</h1>
        <p>(@ViewBag.Movie.Release) @ViewBag.Movie.Actor <span class="label label-default">@ViewBag.Movie.Genre.Name</span></p>
    </div>

    <div class="col-xs-12 content">
        <h2>Indtast telefonnummer</h2>

        <div class="col-md-8 col-md-offset-2" style="padding: 20px 0;">
            <div class="form-group">
                <input type="text" name="phone-check" class="form-control" placeholder="Dit telefonnr." />
            </div>
            <div class="form-group">
                <p>Indtast det telefonnummer du vil bruge, når du afhenter billetterne.</p>
            </div>
        </div>

        <div id="customer-form" class="col-xs-12">

        </div>

    </div>

    <div class="col-xs-12 bottom">
        <ul>
            <li><a href="#" class="btn btn-tint">Tilbage</a></li>
            <li><a href="#" class="btn btn-primary" onclick="checkCustomer(); return false;">Forsæt</a></li>
        </ul>
    </div>

</div>