<div class="poster col-md-5 no-padding hidden-sm hidden-xs">
    <img src="~/Content/Images/@ViewBag.Movie.PosterPath" alt="" />
</div>

<div class="col-md-7 col-xs-12 col-sm-12 no-padding pull-right">

    <div class="col-xs-12 top">
        <h1>@ViewBag.Movie.Title</h1>
        <p>(@ViewBag.Movie.Release) @ViewBag.Movie.Actor <span class="label label-default">@ViewBag.Movie.Genre.Name</span></p>
    </div>

    <div class="col-xs-12 content">
        
        <h2>Din bestilling</h2>
        <br />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><b>Film:</b></td>
                    <td class="paste-movie">movie</td>
                </tr>
                <tr>
                    <td><b>Tid</b></td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-xs-12 bottom">
        <ul>
            <li><a href="#" class="btn btn-tint">Tilbage</a></li>
            <li><a href="#" class="btn btn-primary" onclick="findCustomer(); return false;">Forsæt</a></li>
        </ul>
    </div>

</div>